
.inner-partner-section{
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.inner-partner-section > div{
    width: 100%;
}

.inner-partner-section div:nth-child(3) {
    border-top-right-radius: 0px;
}   
.inner-partner-section div:nth-child(3) img{
    border-top-right-radius: 0px;
}
.contact-section{
    margin: 0rem;
}
.inner-contact-form{
    flex-direction: column;
    align-items: center;
    margin: 0rem ;
}
.input-row{
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.textarea-row{
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.form-group input[type=text], input[type=email]{
    width: 100%;
}
.form-group .textarea-div{
    width: 100%;
}
.top-footer-row{
    flex-direction: column;
    align-items: center;
}
.submit-info h2{
    font-size: 2.8rem;
    text-align: center;
}
.items{
    margin: 0rem;
}
.bottom-footer-row{
    flex-direction: column-reverse;
    align-items: center;
    margin: 0rem;
    text-align: center;
}
.right-item{
    text-align: center;
}
.right-item p{
    line-height: 2rem;
}