.main-header{
    padding: 0rem 1rem;
}
.toggle{
    display: block;
    font-size: 1.5rem;
    color: white;
    border: none;
    background-color: transparent;
}
.toggle:hover{
    font-size: 1.5rem;
    color: #cccccc;
}
.aside-menu{
    /* display: none; */
    height: 100vh;
    position: fixed;
    right: 0px;
    background-image:linear-gradient(to right,red, orange);
    z-index: 2;
    width: 30%;
}
.aside-menu-section{
    list-style-type: none;
    margin:0rem 1rem;
    margin-top: 1rem;
}
.aside-menu-section li a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid white;
    display: inline-block;
}
.aside-menu-section li:first-child a{
    border-bottom: none;
    text-align: right;
    font-size: 1.5rem;
}
.aside-menu-section li:nth-child(2) a{
    border-bottom: none;
    font-size: 1.2rem;
}
.aside-menu-section li:nth-child(3) a{
    padding-bottom: 0px;
}
/* .aside-menu-section li:last-child a{
    border-bottom: none;
    font-size: 1.2rem;
} */
.menu-section{
    display: none;
}
.video-box{
    flex-direction: column;
    align-items: center;
    margin: 0rem;
}
.featured-box-1{
    width: 100%;
}
.flex-img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.featured-box-2{
    width: 100%;
    /* align-content:space-around ; */
    /* border: 1px solid black; */
    margin-top: 2rem;
}
.inner-partner-section{
    justify-content: flex-start;
}
.inner-vedio-section{
    align-content: space-between;
}
.inner-partner-section > div{
    width: 33.33%;
}
.inner-partner-section div:nth-child(3) {
    border-top-right-radius: 10px;
}   
.inner-partner-section div:nth-child(3) img{
    border-top-right-radius: 10px;
}
.inner-partner-section div:nth-child(4) {
    border-top-right-radius:0px;
}   
.inner-partner-section div:nth-child(4) img{
    border-top-right-radius: 0px;
}
.inner-footer-section{
    margin: 0rem;
}
.top-footer-row{
    margin: 1rem;
}
.submit-info h2{
    font-size: 1.8rem;
}
.bottom-footer-row{
    margin: 1rem;
}