
<div class="container reactive-form">
    <div class="row">
      <h2>Reactive form:</h2>
      <div class="col-lg-12">
        <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
          <div id="userdata"  >
              <div class="form-group">
                <label for="email">Enter Email*</label>
                <input id="email1" 
                type="email" 
                name="email"
                class="form-control"
                formControlName="mail"
                required
                email>
                <span
                *ngIf="!signupform.get('mail').valid && signupform.get('mail').touched ">
                Please enter valid mail!</span>
               </div>
              <div class="form-group">
                <label for="password">Enter Password*</label>
                <input id="password1" 
                type="password" 
                class="form-control" 
                 formControlName="paswrd"
                required>
                <span
                *ngIf="!signupform.get('paswrd').valid && signupform.get('paswrd').touched ">
                Please enter password!</span>
              </div>
              <div class="form-group">
                <label for="gender">Select Gender*</label>
                <div  *ngFor="let gender of genders">  
                  <input type="radio" 
                  formControlName="gen"
                  [value]="gender"> {{ gender }}
                </div>
                <span
                *ngIf="!signupform.get('gen').valid && signupform.get('gen').touched ">
                Please select any gender!</span>
              </div>
              <div class="form-group">
                <label for="city">Choose a city:</label>
                <select id="city1"
                formControlName="cit"  
                class="form-control">
                  <option value="noida">Noida</option>
                  <option value="delhi">Delhi</option>
                  <option value="gurugram">Gurugram</option>
                  <option value="gaziabad">Gaziabad</option>
                </select>
                <span
                *ngIf="!signupform.get('cit').valid && signupform.get('cit').touched ">
                Please select any city!</span>
              </div>
              <div class="form-group">
                <label for="myfile">Upload an Image:</label>
                <input type="file" 
                id="myfile1"
                formControlName="fil" 
                class="form-control">
                <span
                *ngIf="!signupform.get('fil').valid  ">
                Please select any file!</span>
              </div>
              <div class="form-group">
                <button type="submit" 
                class="btn btn-primary">Submit</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>