<div class="container  template-driven">
  <div class="row">
    <h2>Template Driven form:</h2>
    <div class="col-lg-12">
      <form (ngSubmit) = onSubmit() #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <p *ngIf="!userData.valid && userData.touched">user data is not valid!</p>
            <div class="form-group">
              <label for="email">Enter Email*</label>
              <input id="email" 
              type="email" 
              class="form-control" 
              ngModel name="email"
              required
              email
              #email="ngModel">
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a vaid email!!</span>
            </div>
            <div class="form-group">
              <button class="btn btn-default" (click)="onSugessted()">Sugessted Email</button>
            </div>
            <div class="form-group">
              <label for="password">Enter Password*</label>
              <input id="password" 
              type="password" 
              class="form-control" 
              ngModel name="password"
              required>
            </div>
            <div class="form-group">
              <label for="gender">Select Gender*</label>
              <div  *ngFor="let gender of genders">  
                <input type="radio" name="gender" ngModel [value]="gender"> {{ gender }}
              </div>
            </div>
            <div class="form-group">
              <label for="city">Choose a city:</label>
              <select id="city" 
              [ngModel]="DefaultSelected" 
              name="city" 
              class="form-control">
                <option value="noida">Noida</option>
                <option value="delhi">Delhi</option>
                <option value="gurugram">Gurugram</option>
                <option value="gaziabad">Gaziabad</option>
              </select>
            </div>
            <div class="form-group">
              <label for="myfile">Upload an Image:</label>
              <input type="file" id="myfile" name="file" ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="area">FeedBack:</label>
              <textarea name="feedback" class="form-control" rows="3" [(ngModel)]="answer"></textarea>
              <p>Your feedback: {{ answer }}</p>
            </div>
            <div class="form-group">
              <button type="submit" 
              class="btn btn-primary"
              [disabled]="!f.valid">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-lg-12">
      <p>Your Email: {{ user.email }}</p>
      <p>Your Password: {{ user.password }}</p>
      <p>Selected Gender: {{ user.gender }}</p>
      <p>Selected City: {{ user.city }}</p>
      <p>Uploaded Image: {{ user.file }}</p>
    </div>
  </div>
</div>

<app-reactive-form></app-reactive-form>
