<div class="container">
  <div class="row">
    <h2>1. Create a pipe for date formatting (Sep 10, 1995).</h2>
    <h4>Date Formating: {{ date | date }}</h4>
  </div>
  <div class="row">
    <h2>2. Convert a string  to title case i.e first letter of word should be in capital .</h2>
    <h4> {{ titleCaseString | titlecase }} </h4>
  </div>

  <div class="row">
    <h2>3. Create a pipe that take a string and reverse the order of letter.</h2>
    <h4> {{ reverseString | shorten }} </h4>
  </div>
  <div class="row">
    <h2>4. Create a pipe which return no of occurrence  of vowel in string?( String =  "Apple is on table" , Output should be a:2 e:2 i:1 o:1 u:0)</h2>
    <h4> {{ Stringvowel | vowelString}}</h4>
  </div>

  <br>
  <div class="row">
    <h2>5. Using HttpClient make a request to given url and  get the data and show the response in tabular form in a component (Url - https://jsonplaceholder.typicode.com/posts/1/comments)</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Post Id</th>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fetchString; let i = index">
          <th>{{ fetchString[i].postId }}</th>
          <th>{{ fetchString[i].id }}</th>
          <th>{{ fetchString[i].name }}</th>
          <th>{{ fetchString[i].email }}</th>
          <th>{{ fetchString[i].body }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
