body {
    background-color: blue;
    color: white;
    font-size: 5rem;
    text-align: center;
    }
    #time{
        font-weight: bold;
        font-size: 8rem;
    }
    #greeting{
        position: relative;
    }

    #greeting::after {
        content: '';
        position: absolute;
        background-color:white;
        width: 40px;
        height: 10px;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }